.uperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    top: 55px;

}

.container {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.alinha {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.forTheWords {
    font-size: 30px;
    font-weight: bold;
}

.text-red {
    color: red;
}

@media (max-width: 639px) {
    .letter .forTheWords {
        font-size: 25px !important;
    }

    .forWrongNames {
        font-size: 18px !important;

    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .letter .forTheWords {
        font-size: 25px !important;
   
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .letter .forTheWords {
        font-size: 30px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .letter .forTheWords {
        font-size: 30px !important;
    }
}

@media (min-width: 1280px) {
    .letter .forTheWords {
        font-size: 35px !important;
    }
}

.forWrongNames {
    font-size: 20px;
    font-weight: bold;
    color: red;
}


.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-break: anywhere;
    flex-direction: column;
    gap: 10px;
}

.buttonsForBeeWords {
    border: 0;
    font-size: 20px;
    background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 4px solid black;
}

@media (min-width: 640px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 25px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }

   
  }
  
  /* md: >= 768px */
  @media (min-width: 768px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 30px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }
  }
  
  /* lg: >= 1024px */
  @media (min-width: 1024px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 35px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }

    
  }
  
  /* xl: >= 1280px */
  @media (min-width: 1280px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 35px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }
  }
  
  /* 2xl: >= 1536px */
  @media (min-width: 1536px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 35px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }
  }

/* NEST HUB */
  @media (width: 1024px) and (height: 600px) {
    .buttonsForBeeWords {
        border: 0;
        font-size: 25px;
        background: linear-gradient(to right, rgb(252, 232, 5), rgb(246, 183, 106));
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        border: 4px solid black;
    }

    .container {
        display: flex;
        width: 65%;
        justify-content: space-between;
        margin-top: 50px;
    }
}





.buttonsForBeeWords:hover {
    background: linear-gradient(to right, rgb(77, 249, 47), rgb(246, 183, 106));

}

.buttonsForBeeWords:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hintBee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.hintBee h1 {
margin-bottom:80px;
color: red;

}

