.theSlideShow {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
}

.theImagesItens {
    min-height: 200px;
    min-width: 600px;
    padding: 14px;
}

.theImagesItens img {
    width: 90%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}