.toEraseValue {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.toEraseValue p {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
}
