.homeContainer {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgb(182, 185, 120),
    rgb(249, 241, 136),
    rgb(185, 247, 217)
  );
  padding: 40px;
}

.sendErase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.fortheBee {
  display: flex;
  margin: 0;
  position: relative;
  bottom: 40px;
}

.theLittleBee {
  position: relative;
  cursor: pointer;
  top: 100px;
  left: 100px;
}
