.fade-in-text {
  font-family: Arial;
  font-size: 20px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;

  text-align: center;
  font-family: Roboto, SemiBold 600;


}

.backSentence {
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
  position: absolute; /* Garante que fique sobre a imagem */
  top: 50%; /* Move o elemento para o meio da tela */
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza corretamente */
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.workTogether:hover {
  cursor: pointer;
  color: rgb(254, 128, 50);
  text-shadow: 0 0 10px rgba(247, 178, 153, 0.8), 
               0 0 20px rgba(0, 0, 255, 0.6), 
               0 0 30px rgba(203, 209, 189, 0.4);
  animation: glow 1s infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}